body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 40px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

/*como ativa o flex*/
.container-flex{
    /*direction - row; wrap - nowrap; valores padrao*/
    display: flex; /* No momento em que é inserido, os itens ficam em linha*/
    background-color: lightgray;
    /*Espaçamento entre os itens*/
    gap: 10px;
}

.item-flex{
    background-color: #2196f3;
    color: #fff;
    padding: 15px;
}

/* possiveis direções */
.direcao-linha{
    flex-direction: row;
}

.direcao-coluna{
    flex-direction: column;
}

/* quebra de linha - wrap */

.wrap{
    flex-wrap: wrap; /* conforme o display vai diminuindo os itens vao quebrando para baixo*/
}

.nowrap{
    flex-wrap: nowrap; /*valor padrão do item, nao responsivo, o display diminui e fica exibindo a proporção normal dele*/
}

/* alinhamento na horizontal */
.justificar-fim{
    justify-content: end;
}

.justificar-centro{
    justify-content: center;
}

.justificar-space-between{
    justify-content: space-between;
}

.justificar-space-around{
    justify-content: space-around;
}

.justificar-space-evenly{
    justify-content: space-evenly;
}

/* alinhamento vertical */
.align-items .container-flex{
    height: 300px;
}

.alinhar-inicio{
    align-items: start;
}

.alinhar-fim{
    align-items: end;
}

.alinhar-centro{
    align-items: center;
}

.alinhar-baseline{
    align-items: baseline; /* alinha em relação ao conteúdo*/
}

.alto{
    height: 100px;
}

.baixo{
    height: 30px;
}

/* alinhar conteudo */
.alinhar-conteudo-inicio{
    align-content: flex-start;
    height: 200px;
}

.alinhar-conteudo-inicio .caixa{
    flex: 0 0 30%;
}

.caixa{
    background-color: #4caf50;
    padding: 20px;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.exemplo-order .item-flex{
    flex: 1;
}

.ordem1{    
    order: 1;
}

.ordem2{    
    order: 2;
}

.ordem3{    
    order: 3;
}

/* exemplo flex grow */
.exemplo-grow .item-flex{
    flex-basis: 100px;
}

.crescer1{
    flex-grow: 1;
}

.crescer2{
    flex-grow: 2;
}

/* itens se alinhando individualmente */
.exemplo-align-self{
    height: 200px;
    align-items: start;
}

.self-centro{
    align-self: center;
}

.self-fim{
    align-self: end;
}

.menu-nav{
    display: flex;
    background-color: #333;
    gap: 10px;
    justify-content: center;
}

.menu-nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;

}

.menu-nav a:hover{
    background-color: white;
    color: #333;
}

/* exemplo do layout responsivo */
.responsivo{
    flex-wrap: wrap;
}

.responsivo .caixa{
    flex: 1 1 200px;
    margin: 10px;
}