/*Estilizando o arquivo tables.html*/
table{
    border-collapse: collapse; /*nao deixa os espaços entre colunas, linha fica solida*/
    border: 2px solid black;
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

caption{
    caption-side: bottom; /*altera a posição do caption*/
    padding: 10px;
    font-weight: bold;
}

thead, tfoot{
    background-color: antiquewhite;
}

th, td{
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type{
    text-align: center;
}

tfoot td{
    font-weight: bold;
}